Language: Cpp
BasedOnStyle: GNU
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveTableGenDefinitionColons: true
AlignTrailingComments: false
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
Cpp11BracedListStyle: true
SortIncludes: Never
PenaltyBreakBeforeFirstCallParameter: 1
PackConstructorInitializers: BinPack
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: false
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
BreakConstructorInitializersBeforeComma: false
ColumnLimit: 110
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IncludeCategories:
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^".*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
IncludeIsMainRegex: '([-_](test|unittest))?$'
IndentCaseBlocks: true
IndentWidth: 4
IndentAccessModifiers: true
InsertNewlineAtEOF: true
MacroBlockBegin: ''
MacroBlockEnd: ''
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PointerAlignment: Left
SpaceInEmptyParentheses: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
TabWidth: 4
UseTab: Never
