[submodule "Deps/glfw"]
	path = Deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Deps/stb"]
	path = Deps/stb
	url = https://github.com/nothings/stb.git
[submodule "Deps/gtest"]
	path = Deps/gtest
	url = https://github.com/google/googletest.git
[submodule "Deps/glm"]
	path = Deps/glm
	url = https://github.com/g-truc/glm.git
